<div id="home-banner">
    <span id="page-title">map space</span>
</div>
<div class="container search">
  <h2>You searched for "<span id='searchField'></span>"</h2>
</div>
<div class="container" id='filter-feed'>

</div>





