<div id="home-page">
  <h3>The best maps, EVER!!!</h3>
</div>

<div class="container-fluid">
  <div class="col-xs-12">
    <div id="feed-filter-bar">
      <ul id="filter-by-time">
        <li class="filter-item" id="weekly">Weekly</li>
        <li class="filter-item" id="monthly">Monthly</li>
        <li class="filter-item" id="all-time">All time</li>
      </ul>
      <ul id="filter-by-votes">
        <li class="filter-item" id="popular">Popular</li>
        <li class="filter-item" id="newest">Newest</li>
      </ul>
    </div>
  </div>
</div>