<div id="home-page">
  <h3 id="page-title">The best maps, EVER!!!</h3>
</div>

<div class="container" id="homepage">
  <!-- Maps feed filters -->
  <div class="container" id="feed-filter-bar">
<!--     <ul id="filter-by-time">
      <li class="filter-item" id="weekly">Weekly</a></li>
      <li class="filter-item" id="monthly">Monthly</li>
      <li class="filter-item" id="all-time">All time</li>
    </ul> -->
    <ul id="filter-by-votes">
      <li class="filter-item" id="newest">Newest</li>
      <li class="filter-item" id="popular">Popular</li>
    </ul>
  </div>

  <!-- Maps feed -->
  <div class="container home-feed">

    <!-- Map items -->
    <!-- <div class="row map-item">
      <div class="col-xs-3 likes">
        <span class="glyphicon glyphicon-star" id="liked-star" aria-hidden="true"></span>
        <h3 id="number-of-likes">#</h3>
      </div>
      <div class="col-xs-6 map-about">
        <h3>Title</h3>
        <ul class="map-stats">
          <li class="map-stats-comments"># comments</li>
          <ul class="map-stats-user">
            <li class="map-stats-date">5 days ago</li>
            <li class="map-stats-owner">by User</li>
          </ul>
        </ul>
      </div>
      <div class="col-xs-3 map-tag"><h5>#tags</h5></div>
    </div>

    <div class="row map-item">
      <div class="col-xs-3 likes">
        <span class="glyphicon glyphicon-star" id="liked-star" aria-hidden="true"></span>
        <h3 id="number-of-likes">#</h3>
      </div>
      <div class="col-xs-6 map-about">
        <h3>Title</h3>
        <ul class="map-stats">
          <li class="map-stats-comments"># comments</li>
            <ul class="map-stats-user">
              <li class="map-stats-date">5 days ago</li>
              <li class="map-stats-owner">by User</li>
            </ul>
        </ul>
      </div>
      <div class="col-xs-3 map-tag"><h5>#tags</h5></div>
    </div> -->

  </div>
</div>