<div class="container" id="map-page">
  <div class="col-xs-12 col-md-6 map-view">
    <div class="col-xs-12" id="googlemap">
      <!-- <img class="col-xs-12 thumbnail" id="mv-map" src="http://placehold.it/500x500"> -->
    </div>
    <div class="col-xs-12" id="mv-info">
      <div class="col-xs-12" id="mv-title-row">
        <h1 class="col-xs-9" id="mv-title"></h1>
        <div class="col-xs-3">
          <div class="likes">
            <h3 id="number-of-likes"></h3>
          </div>
        </div>
        <div class="col-xs-12" id="mv-description-row">
            <h5 id="mv-description"></h5>
        </div>
        <div class="col-xs-12" id="mv-creator-row">
          <h5 id="mv-creator-name"></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 places-view">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    </div>
  </div>
</div>