<div class="container create-map">
  <form>
    <div class="form-group">
      <!-- <label for="mapTitle"></label> -->
      <input type="text" class="form-control" id="mapTitle" placeholder="Title">
    </div>
    <div class="form-group">
      <!-- <label for="mapDescription"></label> -->
      <textarea class="form-control" id="mapDescription" placeholder="Description" rows="3"></textarea>
    </div>
    <div id="categoryOption">
      Would you like to have categories?
      </br>
      <button class="btn btn-success" type="submit">Yes</button>
      <button class="btn btn-danger" type="submit">No</button>
    </div>
    <div class="category-entry first-category form-group">
      <!-- Append category information here -->
    </div>
    <div id="all-entries">
      <!-- Append place information here -->
    </div>
    <button type="button" class="btn btn-primary add-new-place">Add new place</button>





  </form>


</div>