<div class="container" id="profile-page">

  <div class="container" id="profile-header">
    <div class="col-xs-2">
      <img id="profile-avatar" src="http://stock.wikimini.org/w/images/9/95/Gnome-stock_person-avatar-profile.png">
    </div>

    <div class="col-xs-9" id="profile-user-info">
      <h1 id="profile-username">Jon Y</h1>
      <p class="hidden profile-edit">Tell us about you</p>
      <h3 class="profile-info" id="profile-description">Maps, bro. Fuckin' maps.</h3>
      <input type="text" class="form-control hidden profile-edit" name="profile-user-description">
    </div>

    <div class="col-xs-1">
      <button type="button" class="btn btn-default btn-sm show profile-info">
        <span class="glyphicon glyphicon-edit show profile-info" id="profile-edit-button" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-default btn-sm hidden profile-info" id="profile-save-button">Save</button>
    </div>
  </div>

  <!-- Maps feed filters -->
  <div class="container" id="feed-filter-bar">
    <ul id="filter-by-time">
      <li class="filter-item" id="my-maps">My Maps</a></li>
      <li class="filter-item" id="my-likes">Likes</li>
      <li class="filter-item" id="my-comments">Comments</li>
    </ul>
  </div>


  <!-- Maps feed -->
  <div class="container profile-feed">

  </div>
</div>