<div class="container" id="profile-page">

  <div class="container" id="profile-header">
  </div>

  <!-- Maps feed filters -->
  <div class="container" id="feed-filter-bar">
    <ul id="filter-by-time">
      <li class="filter-item" id="my-maps">My Maps</a></li>
      <li class="filter-item" id="my-likes">Likes</li>
      <li class="filter-item" id="my-comments">Comments</li>
    </ul>
  </div>


  <!-- Maps feed -->
  <div class="container profile-feed">

  </div>
</div>