.form-group.col-xs-10 {
  padding-left: 0px;
  padding-right: 20px;
}

div.col-xs-8.place-name-div {
  padding-left: 0px;
}

div.col-xs-8.category-name-div {
  padding-left: 0px;
}

.form-group.col-xs-2 {
  margin-bottom: 0px;
  padding-left: 0px;
}

form {
  margin-top: 15px;
  margin-bottom: 15px;
}

.pin-entry {
  margin-top: 10px;
  border-top: 1px dotted silver;
  margin-bottom: 10px;
  padding-top: 15px;
}

.featuredornot {
  padding-left: 10px;
}

.create-map-button {
  float: right;
}

.btn.delete-entry {
  float: right;
}

input.category-name {
  background: lightblue;
}