/* need to set heights for map-view and place-view using media queries */

.map-view {
  padding: 0 !important;
  border: 1px solid silver;
  overflow: none
}

#googlemap {
  width: 100%;
  height: 500px;
  border-bottom: 1px solid silver;
}

.places-view {
  height: 1000px;
  padding: 0 !important;
  border: 1px solid silver;
  overflow: scroll;
}

#mv-map {
  border-bottom: 1px solid silver;
}

#mv-creator-name {
  text-align: right;
}

.place-row {
  border-bottom: 1px solid silver;
}

#place-travel-info > * {
  display: inline;
}