.navbar.navbar-default.appnavbar {
  margin-bottom: 0px;
  background: #141414;
  border: solid #141414;
  border-radius: 0;
  border: none !important;
}

#logo {
  color: #f8f8f8;
}

#nav-username {
  color: #f8f8f8;
}