#profile-header {
  border: 1px solid #e7e7e7;
  background-color: white;
  padding: 15px;
  margin-top: 10px;
}

div.col-xs-3.thumbnail {
  margin-bottom: 0;
}

#profile-avatar {
  height: 100px;
  width: 100px;
}

#profile-user-info {
  padding-left: 30px;
}